html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
.grid-container {
    display: grid;
    gap: 1%;
    grid-template-columns: 10vw 10vw 10vw 20vw 50vw;
    grid-template-rows: 10vh 60vh 40vh;
    background-color: rgb(255, 255, 255);
}
.grid-item {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1, .item3, .item4 {
    grid-column: 1 / span 4;
    text-align: left;
    margin-left: 10%;
}
.item1{
    grid-row: 1;
}
.item1 img{
    height: 40px;
}
.item2{
    grid-column: 5;
    grid-row: 1 / span 3;
    animation: strobe 0.15s infinite;
  }
  
  @keyframes strobe {
    0%, 50% {
      background-color: white; /* Change background color to create the strobe effect */
    }
    25%, 75% {
      background-color: black; /* Change background color to create the strobe effect */
    }
  }

.item2 img{
    height: 87.5vh;
}
.item3{
    grid-row: 2;
}
.item4 {
    grid-row: 3;
}

.p-text {
    font-size: 20px;
    margin-bottom: -20px;
}
.p-ding {
    font-size: 20px;
}
.h3-text {
    margin-bottom: -40px;
}
.made-by {
    font-size: 20px;
    margin-top: -140px;
    margin-left: -5px;
}
.item3 button img {
    transition: transform 0.3s;
    animation: spin 0.05s linear infinite; /* Animation for spinning */
}

@keyframes spin {
    100% {
      transform: rotate(360deg); /* Rotate the button 360 degrees */
    }
}



.item3 button {
    background: none;
    color: transparent;
    border: none;
    outline: none;
}
.made-by {
    font-size: 20px;
    margin-top: -160px;
    margin-left: -0px;
    margin-left: 80px;

}


